In [17]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [18]:
#mens volleyball
brooklynvb_m = "http://www.brooklyncollegeathletics.com/sports/mens-volleyball/roster/2019"
baruchvb_m = "http://athletics.baruch.cuny.edu/sports/mens-volleyball/roster"
yorkvb_m =  "http://yorkathletics.com/sports/mens-volleyball/roster"
#women vball
brookylnvb_w = "https://www.brooklyncollegeathletics.com/sports/womens-volleyball/roster/2019"
baruchvb_w = "https://athletics.baruch.cuny.edu/sports/womens-volleyball/roster"
johnjayvb_w = "https://johnjayathletics.com/sports/womens-volleyball/roster"
#men swimming
brooklyns_m="https://www.brooklyncollegeathletics.com/sports/mens-swimming-and-diving/roster"
baruchs_m = "https://athletics.baruch.cuny.edu/sports/mens-swimming-and-diving/roster"
yorks_m = "https://yorkathletics.com/sports/mens-swimming-and-diving/roster"
#women swim
brooklyns_w = "https://www.brooklyncollegeathletics.com/sports/womens-swimming-and-diving/roster"
baruchs_w = "https://athletics.baruch.cuny.edu/sports/womens-swimming-and-diving/roster"
qcs_w = "https://queensknights.com/sports/womens-swimming-and-diving/roster"

In [53]:
#function for height
def height (url):
    page= requests.get(url , verify=True)
    soup = BeautifulSoup(page.content,'html.parser')
    height = soup.findAll('span', class_ = "sidearm-roster-player-height")
    roster_height=[]
    for x in height:
        roster_height.append(x.get_text())
        #splitting standard imperial height into two categories. (ft)
        ft= [(num.split("'")[0])for num in roster_height]
         #splitting standard imperial height into two categories. (inches)
        inch1= [(num.split("'")[1])for num in roster_height]
        #replacing '"' characters
        inch = [char.replace('"', " ")for char in inch1]
        #creating a loop to convert imperial system into metric (cm)
        for num in range (0, len(ft)):
            ft[num]= float(ft[num])* 30.48
            inch[num]= float(inch[num])*2.54
    #adding ft converted into cm, and in converted into cm for a total height
    totalcm=  [ft + inch for ft, inch in zip (ft,inch)]
    #there are dulplicate heights for every player. dividing roster_height by half to fix this issue
    totalcm= totalcm[:len(totalcm)//2]
    #returning the heights (cm) of players
    return totalcm

In [49]:
#creating a function for names
def name (url):
    page= requests.get (url, verify = True)
    soup= BeautifulSoup(page.content,'html.parser')
    name= soup.findAll('div', class_="sidearm-roster-player-name")
    roster_name=[]
  
    for x in name:
        #removing extra characters from scrapped names.
        #for some reason there are instances where heights have no names. 
        roster_name = [item.replace("\n", "") for item in roster_name]
        roster_name = [item.replace("\r", "") for item in roster_name]
        roster_name = [item.replace("\t", "") for item in roster_name]
        roster_name = [item.replace(" ", "") for item in roster_name]
        #appending names into roster_name while stripping \n.
        roster_name.append(x.get_text().rstrip("\n"))
    return roster_name

In [36]:
def dataframe (name,height):
    #creating a dataframe
    df= pd.DataFrame()
    #plugging in the name and height function into dataframe df
    df["Name"]= name
    df["Height"]= height
    #return dataframe with name and height 
    return df

In [37]:
#combining three dataframes into main
def main(url1,url2,url3):
    url1=dataframe(name(url1),height(url1))
    url2=dataframe(name(url2),height(url2))
    url3=dataframe(name(url3),height(url3))
    #dataframe containing 3 teams
    category=pd.concat([url1,url2,url3])
    #sorting by decending order, sorted by height
    category.sort_values(by ="Height",ascending= False, inplace= True)
    #returns the tallest, shortest, the mean height, and total roster in each category
    return category.head(), category.tail(), category.mean(), category

In [54]:
#calling the main function which returns all men volleyball players
main(brooklynvb_m,baruchvb_m , yorkvb_m)

(                    Name  Height
 12     14LeonPetrovitsky  195.58
 9          11ArtemZinkin  195.58
 4            6AkilVaughn  195.58
 11     13CarlosRodriguez  193.04
 11  14GuillermoHernandez  193.04,
                 Name  Height
 2       4ShawnNemoto  170.18
 1     3JuanRodriguez  167.64
 0         2JohnVitor  167.64
 0      2SnigdhoHasan  165.10
 6  8JaydenDeokinanan  162.56,
 Height    182.88
 dtype: float64,
                                                  Name  Height
 12                                  14LeonPetrovitsky  195.58
 9                                       11ArtemZinkin  195.58
 4                                         6AkilVaughn  195.58
 11                                  13CarlosRodriguez  193.04
 11                               14GuillermoHernandez  193.04
 10                                   12MichaelHiggins  193.04
 1                                     2AndrewTsororos  193.04
 7                                     9MambeKoureissi  193.04
 9                                       12OlawaleKila  193.04
 5                                     6DavidSirchenko  190.50
 15                                     17MeniMusheyev  190.50
 14                                        16EvanTakos  190.50
 6                                     14GabrielPjatak  190.50
 4                                    5CEdwardGrinberg  187.96
 5                                        13OmarRezika  187.96
 4                                     9SayujZachariah  187.96
 16  \n\n\r\n                                      ...  187.96
 10                                13DavidHeyliger,Jr.  185.42
 13                                        15DefengHan  185.42
 12                                 15FatmirGlavatovic  182.88
 6                                   7CStalloneShankar  182.88
 2                                       3CStevenLopez  182.88
 8   \n\n\r\n                                      ...  182.88
 2                                       4AndresVargas  182.88
 7                                        16RyanChabel  180.34
 5                                         7JustinSaji  177.80
 7                                 9RabsangAndrugtsang  177.80
 3                                        4SonamDorjee  177.80
 3                                      7JasperDiangco  177.80
 1                                    3MichaelValentin  175.26
 8                                         10HanbinLee  175.26
 0                                          1QiQinZeng  175.26
 8                                10AnthonyNazario,Jr.  175.26
 13  \n\n\r\n                                      ...  172.72
 3                                        5ErickOrtega  172.72
 2                                        4ShawnNemoto  170.18
 1                                      3JuanRodriguez  167.64
 0                                          2JohnVitor  167.64
 0                                       2SnigdhoHasan  165.10
 6                                   8JaydenDeokinanan  162.56)

In [39]:
#calling the main function which returns all woman volleyball players
main(brookylnvb_w,baruchvb_w,  johnjayvb_w)

(                  Name  Height
 7       15AutumnReeves  187.96
 8      16SophiaWheelan  182.88
 3      4ClaudiaDaporta  182.88
 4  12CMirialisAlmanzar  182.88
 5      7/7MadisonCronk  180.34,
                          Name  Height
 1         2JasminVidalVentura  157.48
 6                  8LaurieLee  157.48
 11                  13CadyXia  154.94
 9   12SavannaKoutsakis-Keener  154.94
 5                  6YoungGiGo  152.40,
 Height    168.442105
 dtype: float64,
                                                  Name  Height
 7                                      15AutumnReeves  187.96
 8                                     16SophiaWheelan  182.88
 3                                     4ClaudiaDaporta  182.88
 4                                 12CMirialisAlmanzar  182.88
 5                                     7/7MadisonCronk  180.34
 4                                      5CAnitaSengara  180.34
 11               14              MeganOrtiz-Mengedoht  177.80
 0                                           1YijiaCai  177.80
 1                                     2NiovisMonsanto  177.80
 9                        17              KarenSumlang  172.72
 7                                      9NoheliaCedeno  172.72
 13  \n\n\r\n                                      ...  170.18
 1                                       2/2AshleyFung  170.18
 10  \n\n\r\n                                      ...  170.18
 5                                   13JamarieSilverio  170.18
 8                                     10AlejandraChen  170.18
 9                                       10SanaaHadjeb  170.18
 3                           11/20HaleyPotvin-Sanjurjo  167.64
 2                                       3CStellaChung  167.64
 12                             16              AdaCao  167.64
 6                                     14FreyshaRivera  167.64
 7                                     8AnesaFeratovic  167.64
 2                                          3RainZhang  167.64
 0                                      1InesaShimcani  165.10
 8                                         9ClaudiaMoi  165.10
 4                                           6EzriShor  165.10
 10                                         11CindyCui  162.56
 12  \n\n\r\n                                      ...  162.56
 10                                    13AlanisGuinada  162.56
 6                                           7WaiChang  162.56
 3                                  4YanaShaposhnikova  160.02
 0                                      1StephanyChhay  157.48
 2                                    3SonamNematullah  157.48
 1                                 2JasminVidalVentura  157.48
 6                                          8LaurieLee  157.48
 11                                          13CadyXia  154.94
 9                           12SavannaKoutsakis-Keener  154.94
 5                                          6YoungGiGo  152.40)

In [ ]:
#calling the main function which returns all men swim team
main(brooklyns_m, baruchs_m,   yorks_m)

In [ ]:
#calling the main function which returns all woman swim team
main(brooklyns_w, baruchs_w,   qcs_w)

In [55]:
#finding avg height of swimmer and volleyball players.
swim_avg=(164.719+179.606)
print(swim_avg/2)
volleyball_avg=182.88+168.44
print(volleyball_avg/2)
#on average, volleyball players are taller. this follows the same trend as homework#1

172.1625
175.66

175.66